In [2]:
import numpy as np
import os
import pandas as pd

In [3]:

file_name_test = os.path.join("data", "testItem.data")
file_name_train = os.path.join("data", "trainItem.data")
output_file = os.path.join("data", "out2.txt")

In [14]:

data = pd.read_csv(file_name_train, header=None)
train_df = pd.DataFrame(data).rename({0: "userID", 1: "trackID",2: "rating"}, axis=1)

train_df

          userID  trackID  rating
0         199808   248969      90
1         199808     2663      90
2         199808    28341      90
3         199808    42563      90
4         199808    59092      90
...          ...      ...     ...
12403570  249011   270557      90
12403571  249011   273574      90
12403572  249011   286938      90
12403573  249011   287681      80
12403574  249011   295381      90

[12403575 rows x 3 columns]